<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>bpitproject@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>bpitproject1</param-value>
    </context-param>
    <servlet>
        <servlet-name>enrolled</servlet-name>
        <servlet-class>enrolled</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingServlet</servlet-name>
        <servlet-class>EmailSendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailUtility</servlet-name>
        <servlet-class>EmailUtility</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>enrolled</servlet-name>
        <url-pattern>/enrolled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingServlet</servlet-name>
        <url-pattern>/EmailSendingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailUtility</servlet-name>
        <url-pattern>/EmailUtility</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
